
<!-- events -->
<div class="events-sec">
	 <div class="container">
		 <h2>NEWS & EVENTS</h2>
		 <div class="event-grids">			
		     <div class="col-md-4 event-grid">
				 <div class="date">
				     <h3>26</h3>
					 <span>08/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci. Duis ut efficitur sem. Proin eu nunc magna.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid">
				 <div class="date">
				     <h3>24</h3>
					 <span>06/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci. Duis ut efficitur sem. Proin eu nunc magna.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid">
				 <div class="date">
				     <h3>20</h3>
					 <span>04/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci. Duis ut efficitur sem. Proin eu nunc magna.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="clearfix"></div>	
		 </div>
		 <div class="event-grids">			
		     <div class="col-md-4 event-grid">
				 <div class="date">
				     <h3>19</h3>
					 <span>08/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci. Duis ut efficitur sem. Proin eu nunc magna.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid">
				 <div class="date">
				     <h3>22</h3>
					 <span>05/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci. Duis ut efficitur sem. Proin eu nunc magna.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid">
				 <div class="date">
				     <h3>25</h3>
					 <span>03/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci. Duis ut efficitur sem. Proin eu nunc magna.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="clearfix"></div>	
		 </div>
	 </div>
</div>
<div class="featured-news">
	 <div class="container">
		 <div class="ftrd-head text-center">
			 <h3>FEATURED NEWS & EVENTS</h3>
			 <p>Phasellus ultricies magna vitae justo aliquam, cursus bibendum neque tempus.</p>
		 </div>
		 <div class="event-grids">
			 <div class="col-md-4 event-grid-sec">
				 <div class="event-time text-center">
					 <p>08/2011</p>
				 </div>
				 <div class="event-grid_pic">
					 <img src="images/e1.jpg" alt=""/>
					 <h3><a href="#">Morbi pellentesque urna scelerisque justo rutrum.</a></h3>
					 <p>Nullam placerat aliquet nisl id finibus. Nulla mollis mattis magna in hendrerit. Pellentesque nunc nisl, dapibus eget erat non,
					 sagittis accumsan dolor. Sed eu aliquam turpis. Vestibulum finibus dictum lobortis.</p>
					 <div class="more"><a href="#">> Read More</a></div>
				 </div>
			 </div>
			 <div class="col-md-4 event-grid-sec">
				 <div class="event-time text-center">
					 <p>08/2011</p>
				 </div>
				 <div class="event-grid_pic">
					 <img src="images/e3.jpg" alt=""/>
					 <h3><a href="#">Morbi pellentesque urna scelerisque justo rutrum.</a></h3>
					 <p>Nullam placerat aliquet nisl id finibus. Nulla mollis mattis magna in hendrerit. Pellentesque nunc nisl, dapibus eget erat non,
					 sagittis accumsan dolor. Sed eu aliquam turpis. Vestibulum finibus dictum lobortis.</p>
					 <div class="more"><a href="#">> Read More</a></div>
				 </div>
			 </div>
			 <div class="col-md-4 event-grid-sec">
				 <div class="event-time text-center">
					 <p>08/2011</p>
				 </div>
				 <div class="event-grid_pic">
					 <img src="images/e2.jpg" alt=""/>
					 <h3><a href="#">Morbi pellentesque urna scelerisque justo rutrum.</a></h3>
					 <p>Nullam placerat aliquet nisl id finibus. Nulla mollis mattis magna in hendrerit. Pellentesque nunc nisl, dapibus eget erat non,
					 sagittis accumsan dolor. Sed eu aliquam turpis. Vestibulum finibus dictum lobortis.</p>
					 <div class="more"><a href="#">> Read More</a></div>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
 <div class="latest-pics">
	 <div class="container">
		   <h3>LATEST EVENTS</h3>
			<div class="gallery">	
			  <section>
				  <ul class="lb-album">
					  <li>
						 <a href="#image-1"><img src="images/g1.jpg" class="img-responsive" alt=""></a>
						  <div class="lb-overlay" id="image-1">
							 <img src="images/g1.jpg" class="img-responsive" alt="image03">
							 <a href="#page" class="lb-close"> </a>							 
						 </div>
						 <div class="event_gal">
						 <h4><a href="#">Maecenas sodales</a></h4>
						 <p>Pellentesque tincidunt tortor auctor, suscipit tortor sed, condimentum ligula.</p>
						 </div>
					  </li>
					  <li>
						 <a href="#image-abt2">
						     <img src="images/g2.jpg" class="img-responsive" alt="">
							 <span> </span>
						 </a>
						  <div class="lb-overlay" id="image-abt2">
							 <img src="images/g2.jpg" class="img-responsive" alt="image03">
							 <a href="#page" class="lb-close"> </a>
						 </div>
						 <div class="event_gal">
						 <h4><a href="#">Maecenas sodales</a></h4>
						 <p>Pellentesque tincidunt tortor auctor, suscipit tortor sed, condimentum ligula.</p>
						 </div>
					  </li>
					  <li>
						 <a href="#image-2">
						     <img src="images/g3.jpg" class="img-responsive" alt="">
							 <span> </span>
						 </a>
						  <div class="lb-overlay" id="image-2">
							 <img src="images/g3.jpg" class="img-responsive" alt="image03">
							 <a href="#page" class="lb-close"> </a>
						 </div>
						 <div class="event_gal">
						 <h4><a href="#">Maecenas sodales</a></h4>
						 <p>Pellentesque tincidunt tortor auctor, suscipit tortor sed, condimentum ligula.</p>
						 </div>
					  </li>
					  <li>
						 <a href="#image-4">
						     <img src="images/g4.jpg" class="img-responsive" alt="">
							 <span> </span>
						 </a>
						  <div class="lb-overlay" id="image-4">
							 <img src="images/g4.jpg" class="img-responsive" alt="image03">
							 <a href="#page" class="lb-close"> </a>
						 </div>
						 <div class="event_gal">
						 <h4><a href="#">Maecenas sodales</a></h4>
						 <p>Pellentesque tincidunt tortor auctor, suscipit tortor sed, condimentum ligula.</p>
						 </div>
					  </li>							
				 </ul>
		       <div class="clearfix"></div>
			   </section>
	 </div>
 </div>