<include file="Common/header" />    
<!-- about -->
<div class="about">
     <div class="container">
         <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">About</li>
         </ol>
             <div class="about-grid">
                <h2>文章标题</h2>
                 <p class="abt-info">Nam blandit velit ut justo suscipit, volutpat auctor nisi blandit. Maecenas risus velit, lobortis id faucibus non, volutpat sed quam. Pellentesque interdum ex felis, 
                 nec ultricies nibh dapibus id. Suspendisse potenti. Donec pretium et neque eget elementum. Etiam eleifend ante ac mauris tempor elementum. Nunc gravida, velit et finibus lobortis,
                 dolor augue varius augue, eu rutrum quam orci sit amet sapien.</p>
                 <p>Quisque bibendum nulla id suscipit sagittis. Phasellus blandit porttitor cursus. Duis vel orci eu nunc volutpat vehicula. Curabitur fermentum bibendum sem, nec pulvinar elit 
                 blandit vel. Nulla ac gravida sapien. Duis elementum molestie tincidunt. Nunc luctus ullamcorper bibendum. Proin maximus magna a enim tristique lobortis. Aliquam erat volutpat. 
                 Aenean luctus arcu ac magna euismod, a euismod ante venenatis. Nullam vehicula varius nunc vitae ultrices. Praesent varius elementum posuere.</p>
                 <a href="#">Read More..</a>
            </div>
     </div>
</div>
<!-- //about -->

<include file="Common/footer" />    