<include file="Common/header" />    
<!-- about -->
<div class="about">
     <div class="container"  id="container">
         <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">{$catname|mb_substr=5}</li>
         </ol>
    <div class="about-grid col-md-8">
    <!-- about -->
<div class="about">
     <div class="container" style="width: 100%;">
     <volist name="list" id="vo">
         <div class="about-grids">
             <h3 style="width: 500px;"><a href="/index.php?c=detail&id={$vo['news_id']}&catid={$vo['catid']}" style="font-size: 24px;">{$vo.title}</a></h3>
             <p class="abt-info">{$vo.content|mb_substr=0,100} . . . </p>
             <div class="about-pic" style="width: 150px;">
                 <img src="{$vo.thumb}" alt=""/>
             </div>
             <div class="clearfix"></div>
         </div> 
        </volist>    
     </div>
</div>
<!-- //about -->
    <!-- gallery -->
    <div class="gallery-head">
         <div class="container" style="width: 100%;">    
         <div class="gallery-text">
             <div class="container" style="width: 100%;">
             <h2>图说 | GALLERY</h2>
             </div>
         </div>
             <div class="main">
             <div class="gallery">  
                  <section>
                      <ul class="lb-album">
                          <li>
                             <a href="#image-1">
                                 <img src="/public/images/g1.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-1">
                                 <img src="/public/images/g1.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-abt2">
                                 <img src="/public/images/g2.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-abt2">
                                 <img src="/public/images/g2.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-2">
                                 <img src="/public/images/g3.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-2">
                                 <img src="/public/images/g3.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-4">
                                 <img src="/public/images/g4.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-4">
                                 <img src="/public/images/g4.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>                         
                     </ul>
                     <ul class="lb-album">
                          <li>
                             <a href="#image-5">
                                 <img src="/public/images/g5.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-5">
                                 <img src="/public/images/g5.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-6">
                                 <img src="/public/images/g6.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-6">
                                 <img src="/public/images/g6.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-abt1">
                                 <img src="/public/images/g7.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-abt1">
                                 <img src="/public/images/g7.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-g8">
                                 <img src="/public/images/g8.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-g8">
                                 <img src="/public/images/g8.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>                         
                     </ul>
                     <ul class="lb-album">
                          <li>
                             <a href="#image-g9">
                                 <img src="/public/images/g9.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-g9">
                                 <img src="/public/images/g9.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-abt3">
                                 <img src="/public/images/g10.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-abt3">
                                 <img src="/public/images/g10.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-3">
                                 <img src="/public/images/g11.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-3">
                                 <img src="/public/images/g11.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>
                          <li>
                             <a href="#image-12">
                                 <img src="/public/images/g12.jpg" class="img-responsive" alt="">
                                 <span> </span>
                             </a>
                              <div class="lb-overlay" id="image-12">
                                 <img src="/public/images/g12.jpg" class="img-responsive" alt="image03">
                                 <a href="#page" class="lb-close"> </a>
                             </div>
                          </li>                         
                     </ul>
                 </section>
                 <div class="clearfix"> </div>
              </div>
                </div>
         </div>
    </div>
    <!-- //gallery -->
    </div>
<include file="Common/right" />  
     </div>
</div>
<!-- //about -->

<include file="Common/footer" />    