<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<!--fonts-->
		<link href='http://fonts.useso.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.useso.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>		
		 <link href='http://fonts.useso.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<!--//fonts-->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="soccer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- js -->
</head>
<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><a href="index.html">SOCCER</a></h1>
		 </div>	
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				 <li><a href="index.html">HOME</a></li>
				 <li class="active"><a href="about.html">ABOUT US</a></li>
				 <li><a href="gallery.html">GALLERY</a></li>
				 <li><a href="404.html">TRAINING</a></li>
				 <li><a href="event.html">NEWS & EVENTS</a></li>
				 <li><a href="contact.html">CONTACT</a></li>
			 </ul>			 
		 </div>
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <div class="search">
		    <form>
		    	<input type="text" value="" placeholder="Search...">
				<input type="submit" value="">
			</form>
     </div>     
	 <div class="social">			 
			 <a href="#"><i class="facebook"></i></a>
			 <a href="#"><i class="twitter"></i></a>
			 <a href="#"><i class="dribble"></i></a>	
			 <a href="#"><i class="google"></i></a>	
			 <a href="#"><i class="youtube"></i></a>	
	 </div>
		<div class="clearfix"></div>
		</div>
</div>
<!-- banner -->
<!-- about -->
<div class="about">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">About</li>
		 </ol>
		 <h2>ABOUT</h2>
		 <div class="about-head">
			 <p>Morbi hendrerit facilisis magna sed blandit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			 Praesent convallis, enim non pellentesque interdum, orci orci dignissim erat, eget euismod turpis urna vitae ligula. Maecenas ut nulla sit amet magna suscipit auctor.
			 Fusce rhoncus pretium finibus. Aliquam id faucibus lectus. Proin rhoncus magna vel sollicitudin elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		 </div>
		 <div class="about-grids">
			 <div class="about-grid">
				 <h3>WHO WE ARE</h3>
				 <p class="abt-info">Nam blandit velit ut justo suscipit, volutpat auctor nisi blandit. Maecenas risus velit, lobortis id faucibus non, volutpat sed quam. Pellentesque interdum ex felis, 
				 nec ultricies nibh dapibus id. Suspendisse potenti. Donec pretium et neque eget elementum. Etiam eleifend ante ac mauris tempor elementum. Nunc gravida, velit et finibus lobortis,
				 dolor augue varius augue, eu rutrum quam orci sit amet sapien.</p>
				 <p>Quisque bibendum nulla id suscipit sagittis. Phasellus blandit porttitor cursus. Duis vel orci eu nunc volutpat vehicula. Curabitur fermentum bibendum sem, nec pulvinar elit 
				 blandit vel. Nulla ac gravida sapien. Duis elementum molestie tincidunt. Nunc luctus ullamcorper bibendum. Proin maximus magna a enim tristique lobortis. Aliquam erat volutpat. 
				 Aenean luctus arcu ac magna euismod, a euismod ante venenatis. Nullam vehicula varius nunc vitae ultrices. Praesent varius elementum posuere.</p>
				 <a href="#">Read More..</a>
			</div>
			 <div class="about-pic">
				 <img src="images/abt.jpg" alt=""/>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="abt_text">
				<div class="col-md-4 values">
					 <h3>Our Values</h3>
					 <div class="value-grd">
						 <span>01.</span>
						 <h4>Sed quis lectus sed neque suscipit iaculis bibendum vitae tellus.</h4>
						 <p>Fusce in quis lectus seddignissim elit. Mauris ex est, luctus convallis eleifend eu, pulvinar ac purus.</p>
					 </div>
					 <div class="value-grd">
						 <span>02.</span>
						 <h4>Sed quis lectus sed neque suscipit iaculis bibendum vitae tellus.</h4>
						 <p>Fusce in quis lectus seddignissim elit. Mauris ex est, luctus convallis eleifend eu, pulvinar ac purus.</p>
					 </div>
					 <div class="value-grd">
						 <span>03.</span>
						 <h4>Sed quis lectus sed neque suscipit iaculis bibendum vitae tellus.</h4>
						 <p>Fusce in quis lectus seddignissim elit. Mauris ex est, luctus convallis eleifend eu, pulvinar ac purus.</p>
					 </div>
				</div>
				<div class="col-md-4 skills">
					 <h3>Our Skills</h3>
					 <h4>Aenean fermentum neque sagittis, feugiat diam sit amet, efficitur ex.</h4>
					 <p>Etiam id maximus enim. Integer a mauris tempor, vestibulum neque vel, molestie risus. Mauris congue interdum 
					 nibh ut cursus. Fusce cursus, neque at tristique eleifend, nisl erat euismod nulla, dictum aliquam justo purus at metus.</p>
					 <ul>
						<li><a href="#">Proin non sapien nec risus eleifend malesuada.</a></li>
						<li><a href="#">Sed volutpat nulla a consequat venenatis.</a></li>
						<li><a href="#">Quisque vitae nisl sit amet magna tempor finibus.</a></li>
						<li><a href="#">Praesent in velit et mi tempor molestie ut et arcu.</a></li>
						<li><a href="#">Sed volutpat nulla a consequat venenatis.</a></li>
						<li><a href="#">Donec euismod purus a aliquam dapibus.</a></li>
						<li><a href="#">Praesent in velit et mi tempor molestie ut et arcu.</a></li>
						<li><a href="#">Etiam at dolor at eros finibus viverra.</a></li>
					</ul>
				</div>
				<div class="col-md-4 testi">
					 <h3>Testimonals</h3>
				     <p>Maecenas vel massa dictum, cursus velit pharetra, efficitur diam. Duis et felis ut ligula eleifend tempus. 
					 Ut vitae ipsum sit amet massa placerat consequat vitae ac arcu. Vestibulum euismod at ante eu feugiat.</p>
					 <a href="#">JOHN FRANKLIN</a>
					 <p>Maecenas vel massa dictum, cursus velit pharetra, efficitur diam. Duis et felis ut ligula eleifend tempus. 
					 Ut vitae ipsum sit amet massa placerat consequat vitae ac arcu. Vestibulum euismod at ante eu feugiat.</p>
					 <a href="#">TOM MENDERW</a>
					 <p>Maecenas vel massa dictum, cursus velit pharetra, efficitur diam. Duis et felis ut ligula eleifend tempus. 
					 Ut vitae ipsum sit amet massa placerat consequat vitae ac arcu. Vestibulum euismod at ante eu feugiat.</p>
					 <a href="#">ALIN SMITH</a>
				</div>
				<div class="clearfix"></div>
		 </div>		
	 </div>
</div>
<!-- //about -->
<!--footer-->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><a href="index.html">HOME</a></li>
				 <li><a href="index.html">ABOUT US</a></li>
				 <li><a href="index.html">GALLERY</a></li>
				 <li><a href="index.html">TRAINING</a></li>
				 <li><a href="index.html">NEWS & EVENTS</a></li>
				 <li><a href="index.html">CONTACT</a></li>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //footer -->
</body>
</html>