<?php 
    $config = D('Basic')->select();
    $navs = D('Menu')->getBarMenus();
 ?>
<!DOCTYPE html>
<html>
<head>
    <title>{$config['title']}</title>
    <!--fonts-->
        <link href='__PUBLIC__/css/font.css' rel='stylesheet' type='text/css'>    
    <!--//fonts-->      
        <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{$config['keywords']}" />
        <meta name="description" content="{$config['description']}" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- js -->
        <script src="__PUBLIC__/js/jquery.js"></script>
    <!-- js -->
</head>
<body>
<!-- header -->
<div class="header">
     <div class="container">
         <div class="logo">
               <h1><a href="{:U('index')}">MAT CMS</a></h1>
         </div> 
         <div class="top-menu">
             <span class="menu"></span>
              <ul>
                <li class="<if condition="$result['catId'] == 0">active</if>"><a href="/">首页</a></li>
                <volist name="navs" id="nav">
                    <li class="<if condition="$nav['menu_id'] eq $result['catid']">active</if>"><a href="/index.php?c=cat&id={$nav['menu_id']}">{$nav['name']}</a></li>
                </volist>
             </ul>           
         </div>         
         <!-- script-for-menu -->
         <script>
                $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                });
         </script>
         <!-- script-for-menu -->       

         <div class="clearfix"></div>
     </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
     <div class="container">
     <div class="search">
            <form>
                <input type="text" value="" placeholder="Search...">
                <input type="submit" value="">
            </form>
     </div>     
     <div class="social">            
             <a href="#"><i class="facebook"></i></a>
             <a href="#"><i class="twitter"></i></a>
             <a href="#"><i class="dribble"></i></a>    
             <a href="#"><i class="google"></i></a> 
             <a href="#"><i class="youtube"></i></a>    
     </div>
        <div class="clearfix"></div>
        </div>
</div>