<include file="Common/header" id='asdfsadfsdf'/>
<!-- banner -->
<div class="banner">
<script src="__PUBLIC__/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 300,
        manualControls: '#slider3-pager',
      });
    });
</script>

<div class="slider">
  <div class="callbacks_container">
     <ul class="rslides" id="slider">
     <volist name="topPicNews" id="vo">
         <li>
         <a target="_blank" href="/index.php?c=detail&id={$vo['news_id']}">
			<img src="{$vo['thumb']}" style="width: 100%;">
			<div class="banner-info" style="top: 60%;">
				<h3>{$vo['title']}</h3>
			</div>
		 </a>
         </li>
     </volist>
     </ul>
  </div>
</div>
<!---->
</div>
<!-- //banner -->
<!-- content -->
<volist name="contents" id="cate">
<div class="featured-news">
     <div class="container">
         <div class="ftrd-head text-center">
             <h3>{$key}</h3>
         </div>
         <div class="event-grids">
			<volist name="cate" id="vo">
             <div class="col-md-4 event-grid-sec">
                 <div class="event-time text-center">
                     <p>{$vo.create_time|date="Y-m-d",###}</p>
                 </div>
                 <div class="event-grid_pic">
                     <img src="{$vo['thumb']}" class="img-responsive" style="height: 140px;" />
                     <h3><a href="/index.php?c=detail&id={$vo['news_id']}&catid={$vo['catid']}">{$vo['title']}</a></h3>
                     <p>{$vo['content']|mb_substr=0,50}</p>
                     <div class="more"><a target="_blank" href="/index.php?c=detail&id={$vo['news_id']}&catid={$vo['catid']}">Read More..</a></div>
                 </div>
             <div class="clearfix"></div>
             </div>
			</volist>
         </div>
     </div>
</div>
</volist>
<!--- //content--->
<include file="Common/footer" />