<include file="Common/header" />    
<!-- about -->
<div class="about">
     <div class="container"  id="container">
         <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">About</li>
         </ol>
             <div class="about-grid col-md-8">
                <h2>文章标题</h2>
<p>如果你心动过，我就不用再去描述；如果你没有心动过，那“心动”二字之于你，就像是你从未抬头看过的天空，再多的描绘仍是无解。

我喜欢数码产品，了解得算不上专业，但却是真心的热爱。喜欢感受科技发展带来的感官刺激，喜欢那些优秀的产品设计所带来的前卫体验。

图01.jpg

对于我来说，设计优秀、功能出色是数码产品是最为理想的状态。有一些产品，第一眼看到，就能为之心动，产生强烈的购买冲动。然而遗憾的是，智能手机普及之后，“公模”式的设计如火山爆发之势喷涌而出，忽略设计感的产品疯狂增长的同时，个性却在慢慢的泯灭。不管是撞衫还是撞机，都是一种尴尬，也是一种相互贬低。

能够让人为之心动的手机越来越少。

也许由于第一台手机便是 Moto 的 C650，个人对摩托罗拉有点“先入为主”，但是在我接触手机的这十余年内，摩托罗拉绝对是我心目中的百变之王。凭借着纯粹的极客风范和创新精神，数十年来，一代又一代的 Moto 人发明了数不清的黑科技，创造出了无数经典产品。摩托罗拉在技术上敢于创新、材质上舍得用料的探索精神一直深得我心。

图02.JPG

今年 6 月 10 日凌晨（美国旧金山时间 6 月 9 日上午），以“让想象力生长”为主题的联想第二届全球科技创新大会在美国硅谷举办。幸运的是，喜爱摩托罗拉十余载的我，能够收到邀请参加这次联想大家庭的聚会，亲临现场第一时间看到 Moto Z（摩磁）系列智能手机和 Moto Mods 模块的发布。虽然之前在网络上已经曝光了不少 Moto Z 的渲染图，但是熟悉 Moto 的朋友应该已经习惯了 Moto 的手机永远是曝光图“丑绝人寰”，真机上手却让人惊叹的规律！居然可以帅成这样？不科学！

图03.JPG

拿着 Moto Z，很自然地让我想起了摩托罗拉以前的两款经典产品：里程碑 Milestone 和刀锋 Razr。首先在外观设计方面，它们都有着类似的风格：机身线条分明，硬朗，大气沉稳。而且这三台机器的推出，都在各自的时代里，给大家带来了颠覆与震撼。

里程碑系列：侧滑盖全键盘、拥有 854*480 的高清分辨率，再加上全新的 Android 操作系统，一经推出，多少人为它惊叹！而里程碑也同样是我踏上数码发烧路的一个开始。回想当年，我影响了周边共 14 位亲朋好友买了里程碑。每次出去吃饭游玩，坐成一排都拿着一样的手机，那场景甚是壮观。其中一位挚友说如果有一天科技发展，摩托罗拉的手机只剩下里程碑上半部分的屏幕那般薄就好了，当时我只是淡淡一笑。很庆幸的是如今 Moto Z 做到了，遗憾的是他却没能亲眼见证。
</p>
            </div>
<include file="Common/right" />  
     </div>
</div>
<!-- //about -->

<include file="Common/footer" />    