<include file="Common/header" />    
<!-- about -->
<div class="about">
     <div class="container"  id="container">
         <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">{$catname|mb_substr=5}</li>
         </ol>
             <div class="about-grid col-md-8">
                <h2>{$article.title}</h2>
                <p>{$article.content}</p>
            </div>
<include file="Common/right" />  
     </div>
</div>
<!-- //about -->

<include file="Common/footer" />    