<!-- content-bottom -->
<div class="content-info">
     <div class="container">
      <div class="ftrd-head text-center">
             <h3> 关于我们 | ABOUT US</h3>
         </div>
         <div class="content-bottom-grids">
            <div class="col-md-4 coach">
                 <div class="coch-grid chr">
                     <div class="coach-pic">
                         <img src="__PUBLIC__/images/logo_square.png" alt=""/>
                     </div>
                     <div class="coach-pic-info">
                         <h4><a href="#">mat cms</a></h4>
                         <h5>科技 新闻 娱乐 体育 资讯整合</h5>
                         <p>“基于ThinkPHP 小组项目”</p>
                     </div>
                     <div class="clearfix"></div>
                 </div>
                 <div class="coch-grid">
                     <div class="coach-pic">
                         <img src="__PUBLIC__/images/李变蕊.jpg" alt=""/>
                     </div>
                     <div class="coach-pic-info">
                         <h4><a href="#">李变蕊</a></h4>
                         <h5>主要职责</h5>
                         <p>“每人一句话”</p>
                     </div>
                     <div class="clearfix"></div>
                 </div>
            </div>
            <div class="col-md-4 coach">
                <div class="coch-grid chr">
                         <div class="coach-pic">
                             <img src="__PUBLIC__/images/韩玉琪.jpg" alt=""/>
                         </div>
                         <div class="coach-pic-info">
                             <h4><a href="#">韩玉琪</a></h4>
                             <h5>主要职责</h5>
                             <p>“右边那个，亲一口”</p>
                         </div>
                         <div class="clearfix"></div>
                </div>
                 <div class="coch-grid">
                     <div class="coach-pic">
                         <img src="__PUBLIC__/images/谭满.jpg" alt=""/>
                     </div>
                     <div class="coach-pic-info">
                         <h4><a href="#">谭满</a></h4>
                         <h5>主要职责</h5>
                         <p>“每人，一句话”</p>
                     </div>
                     <div class="clearfix"></div>
                 </div>
            </div>
            <div class="col-md-4 coach">
                 <div class="coch-grid chr">
                     <div class="coach-pic">
                         <img src="__PUBLIC__/images/吴高强.jpg" alt=""/>
                     </div>
                     <div class="coach-pic-info">
                         <h4><a href="#">吴高强</a></h4>
                         <h5>主要职责</h5>
                         <p>“切，不要！”</p>
                     </div>
                     <div class="clearfix"></div>
                 </div>
                 <div class="coch-grid">
                     <div class="coach-pic">
                         <img src="__PUBLIC__/images/万辉.jpg" alt=""/>
                     </div>
                     <div class="coach-pic-info">
                         <h4><a href="#">万辉</a></h4>
                         <h5>主要职责</h5>
                         <p>“每人，一句话”</p>
                     </div>
                     <div class="clearfix"></div>
                 </div>
            </div>
            <div class="clearfix"></div>
         </div>
     </div>
</div>
<!-- //content-bottom -->
<!--footer-->
<div class="footer">
     <div class="container">
         <div class="copywrite">
             <p>Copyright &copy; 2016 . MAT Team All rights reserved.</p>
         </div>
         <div class="clearfix"></div>
     </div>
</div>
<!-- //footer -->
</body>
</html>
<script type="text/javascript">
$(".pinned").pin({containerSelector: "#container", minWidth: 940});
</script>