<!--footer-->
<div class="footer">
     <div class="container">
         <div class="copywrite">
             <p>Copyright &copy; 2015.Company name All rights reserved.</p>
         </div>
         <div class="footer-menu">
             <ul>
                 <li class="active"><a href="{:U('index')}">首页</a></li>
                 <li><a href="{:U('keji')}">科技</a></li>
                 <li><a href="{:U('xinwen')}">新闻</a></li>
                 <li><a href="{:U('tiyu')}">体育</a></li>
                 <li><a href="{:U('yole')}">娱乐</a></li>
                 <li><a href="{:U('join')}">加入我们</a></li>
             </ul>
         </div>
         <div class="clearfix"></div>
     </div>
</div>
<!-- //footer -->
</body>
</html>