<?php
    function getRank()
    {
        $conds['status'] = 1;
        $news = D('News')->getRank($conds, 10);
        return $news;
    }
$rankNews = getRank();
?>
<div class="content-info col-md-4">
     <div class="container pinned" style="margin-top: 20px;">
         <div class="content-bottom-grids">
             <div class="popular"> 
                 <h3>NEWEST</h3>
                 <ul>
                    <volist name="rankNews" id="vo">
                     <li><a href="/index.php?c=detail&id={$vo['news_id']}&catid={$vo['catid']}">{$vo['title']}</a></li>
                    </volist>
                 </ul>
             </div>
            <div class="clearfix"></div>
         </div>
     </div>
</div>